body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
/*  ============ HEADER  ============ */
.link {
  text-decoration: none;
  color: black
}
.list {
  list-style: none;
  font-style: normal;
}
.header-link {
  text-decoration: none;
  color: black;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-web {
  color: #2196f3;
}

.listnav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.header-contacts {
  color: #757575;
}
.header-contacts:hover,
.header-contacts:focus,
.header-contacts:active {
  color: #2196f3;
}
/*  ============ END HEADER  ============ */
/*  ============ HERO  ============ */
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.364;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.btn{
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: black;
/* сделать color: #FFFFFF; когда будет фон*/
}

/*  ============ END HERO  ============ */
/*  ============ FOOTER CONTACTS  ============ */
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;/*сделать потом color: #FFFFFF; когда будет фон*/
}

.footerlogo-web {
  color: #2196F3;
}
.footer-links {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color:color: rgba(255, 255, 255, 0.6);
}
.street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: black;
  /*сделать color: #FFFFFF; когда будет фон */

  /*  ============END  FOOTER CONTACTS  ============ */